.btn,
.btn:hover {
  border-radius: 16px;
  color: #fff;
}
.bg-pink {
  background-color: #f32b8e;
}
.bg-green {
  background-color: #1ed760;
}
.bg-fav {
  background-color: rgb(254, 98, 142, 75%);
}
