.item {
  background-color: hsl(307, 68%, 35%);
}

.item h1,
.item h2,
.item h3,
.item h4,
.item h5,
.item h6 {
  color: #fff;
}

.item .scolor {
  color: #b8babc;
}

.item :global(button),
.item :global(button:hover) {
  background-color: transparent;
  border: 2px solid ;
  color: #fff;
}
