.item .img {
  position: relative;
  /* display: inline-block; */
  width: 100%;
}
.item .img .box {
  background-color: #161a26;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.item .img > img {
  visibility: hidden;
  display: none;
  /* min-height: 240px; */
}
.item .img .box {
  /* position: absolute; */
  top: 0;
  left: 0;
  /* min-height: 100%; */
  width: 100%;
  color: #fff;
  padding: 0.5rem 1rem;
}
.vipt {
  font-size: 3rem;
  line-height: 3rem;
  margin-right: 0.5rem;
}
.ititle {
  font-size: 1rem;
  line-height: 1rem;
}
.istitle {
  font-size: 0.8rem;
  line-height: 0.8rem;
  margin-top: 0.2rem;
  /* margin-left: -2rem; */
}
.btn {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 0.8rem;
  border-radius: 1rem;
  color: #fff;
  background-color: transparent;
  border: 2px solid;
}
.price {
  font-size: 0.8rem;
  margin-right: 0.6rem;
}
.dprice {
  font-size: 1.6rem;
}
.pcol {
  margin-bottom: 0.5rem;
}
.ptitle {
  font-size: 0.8rem;
  line-height: 0.8rem;
  margin-bottom: 0.1rem;
}
.pstitle {
  font-size: 0.6rem;
  line-height: 0.6rem;
  opacity: 0.8;
}

@media (min-width: 768px) {
  .vipt {
    font-size: 5rem;
    line-height: 5rem;
    margin-right: 0.5rem;
  }
  .ititle {
    font-size: 2rem;
    line-height: 2rem;
  }
  .istitle {
    font-size: 1rem;
    line-height: 1rem;
    margin-top: 0.5rem;
    /* margin-left: -2rem; */
  }
  .pcol {
    margin-bottom: 0.6rem;
  }
  .ptitle {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 0.2rem;
  }
  .pstitle {
    font-size: 0.7rem;
    line-height: 0.7rem;
  }
  .dprice {
    font-size: 2rem;
  }
  .btn {
    padding: 0.8rem 1rem;
    font-size: 1rem;
    border-radius: 1rem;
  }
}
