.app-nav {
  position: fixed;
  background: rgba(17, 21, 32, 0.98);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 95px;
  overflow-y: scroll;
  z-index: 1800;
  transition: 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateY(-100vh);
}
:global(.open-app-nav) .app-nav {
  opacity: 1;
  transform: translateY(0);
}
.app-nav :global(.container) {
  padding-bottom: 190px;
}
@media (min-width: 1200px) {
  .app-nav :global(.container) {
    max-width: 66.666667%;
  }
}
@media (min-width: 1600px) {
  .app-nav :global(.container) {
    max-width: 50%;
  }
}
@media (min-width: 2000px) {
  .app-nav :global(.container) {
    max-width: 1200px;
  }
}
.app-nav :global(.title-box) {
  margin-bottom: 1rem;
}

.app-nav :global(.tag) {
  font-size: 0.9999375rem;
}
.app-nav :global(.tag::before) {
  content: '#';
  color: #6190c9;
  font-weight: 400;
  margin-right: 1px;
}
