.root {
  width: 100vh;
  height: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.root iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.toggleBtn {
  position: absolute;
  bottom: 7%;
  left: 5%;
  z-index: 99;
  /* margin: 2rem; */
}

.panel {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  /* align-content: center; */
  justify-content: center;
  background: rgba(30, 30, 30, 0.9);
  visibility: hidden;
  opacity: 0;
  transition: 0.7s;
}
.panel.panelShow{
  visibility: visible;
  opacity: 100%;
}

.panel button {
  width: 8rem;
  height: 2rem;
  background: transparent;
  color: #fff;
  border: 1px solid;
  margin: 0.5rem;
}
