.root {
}
.root :global(.form-group .form-control) a {
  color: #000;
}
.root :global(.form-group label) {
  font-size: 0.8rem;
  color: #7c7c7c;
}
.root :global(.form-group .form-control) {
  font-size: 1.1rem;
  padding: 0.3rem 0;
}

.root :global(.btn) {
  font-size: 1.1rem;
}
