.site-header {
  position: fixed;
  width: 100%;
  margin-bottom: 0.25rem;
  z-index: 1900;
  transition: 0.5s;
}
.site-header.hide {
  transform: translateY(-150%);
}
.site-header::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  box-shadow: 0 0 50px 65px rgb(10 13 23 / 68%);
  z-index: -1;
}

.app-nav-toggle {
  cursor: pointer;
  height: 100%;
  width: 22px;
  margin-right: 1.1rem;
}
.app-nav-toggle :global(.lines) {
  position: absolute;
  top: 50%;
}
.app-nav-toggle :global(.lines .line-1) {
  top: -8px;
}
.app-nav-toggle :global(.lines .line-2) {
  top: -2px;
}
.app-nav-toggle :global(.lines .line-3) {
  top: 4px;
}
.app-nav-toggle :global(.lines > div) {
  position: absolute;
  background: #fff;
  width: 22px;
  height: 2.5px;
  border-radius: 100px;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
:global(.open-app-nav) .app-nav-toggle :global(.lines .line-1) {
  top: -2px;
  transform: rotate(135deg);
}
:global(.open-app-nav) .app-nav-toggle :global(.lines .line-2) {
  opacity: 0;
}
:global(.open-app-nav) .app-nav-toggle :global(.lines .line-3) {
  top: -2px;
  transform: rotate(-135deg);
}

/* pc nav */
.site-header :global(.header-wrap) {
  position: relative;
  min-height: 60px;
}
.site-header :global(.navbar) {
  padding: 0;
}
.site-header :global(.navbar .nav-item > a) {
  white-space: nowrap;
  padding: 0 1.1rem;
  color: #fff;
  font-size: 0.9368125rem;
  font-weight: 600;
  line-height: 65px;
}
.site-header :global(.navbar .nav-item > a:hover) {
  color: #91a5f4;
}

.site-header :global(.col-auto) {
  display: flex;
  align-items: center;
}
.site-header :global(.logo) {
  margin-top: -3px;
}

/* search */
.site-header :global(.header-right) {
  position: absolute;
  height: 100%;
  right: 0;
}
.site-header :global(.search) {
  background: linear-gradient(180deg, #020308 0%, transparent 100%);
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 2;
}
.site-header :global(.search input) {
  background: 0 0;
  color: #777;
  max-width: 0;
  padding: 0;
  outline: none;
  border: none;
  border-top: 3px transparent solid;
  transition: all 0.5s;
}
.site-header :global(.search input:focus) {
  color: #fff;
  max-width: 120px;
  padding-left: 0.25rem;
}

/* lang */

.site-header :global(.lang) {
  margin-left: 1rem;
}
.site-header :global(.lang img) {
  border-radius: 0.35rem;
}
/* login */
.site-header :global(.settings) {
  position: relative;
  margin-left: 1rem;
}

.site-header :global(.settings > a) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
}

.site-header :global(.settings .dropdown-menu) {
  width: 280px;
  padding: 0;
  overflow: hidden;
}

.site-header :global(.settings .cover) {
  background: #fffeec;
  height: 130px;
}

.site-header :global(.settings .avatar) {
  position: relative;
  width: 100px;
  left: 50%;
  border-radius: 0.5rem;
  margin-bottom: -30px;
  -webkit-box-shadow: 2px 2px 16px 0 rgba(168, 179, 211, 0.8);
  box-shadow: 2px 2px 16px 0 rgba(168, 179, 211, 0.8);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.site-header :global(.settings h5) {
  color: #000;
  text-align: center;
}
.site-header :global(.card-logo){
  position: relative;
}
.site-header :global(.card-logo span){
position: absolute;
  display: block;
  width:100px;
  font-size: 10px;
  left: 100%;
  top: 0;
}
