.menu :global(.cover) {
  position: relative;
  overflow: hidden;
  z-index: -3;
}
.menu {
  position: relative;
}
.menu::before {
  content: '';
  background: url('/img/logo-bg.png');
  opacity: 0.7;
  background-size: 8rem;
  position: absolute;
  width: 400%;
  height: 200%;
  top: -50%;
  left: -100%;
  z-index: -2;
  transform: rotate(40deg);
}
.menu::after {
  content: '';
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 0;
  top: 130px;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
