.buy-btns {
  display: flex;
}
.buy-btns > div {
  width: 50%;
  margin-right: 1rem;
}
.buy-btns > div:last-child {
  margin-right: 0;
}
.buy-btns button {
  background-color: white;
  padding: 0.5rem 1rem;
  border: 1px solid #1ed760;
  margin-bottom: 1rem;
}
