@import 'perfect-scrollbar/css/perfect-scrollbar.css';
@import 'react-toastify/dist/ReactToastify.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

.no-font {
  font-size: 0;
  line-height: 0;
}

.col-auto {
  max-width: 100%;
}
body {
  overflow-x: hidden;
}
body.open-app-nav {
  overflow: hidden;
}

:root {
  --plyr-color-main: #fe628e;
}

body {
  font-family: roboto, microsoft jhenghei, sans-serif;
  font-size: 0.8750625rem;
  line-height: 1.6;
  color: #b8babc;
  background: #090812;
  background-image: linear-gradient(
    to bottom,
    #090812,
    #111520 100vh,
    #07090e 200vh
  );
}
a {
  color: #b8babc;
  transition: color 0.3s ease;
}
a:hover {
  color: #fe628e;
  text-decoration: none;
}
img {
  max-width: 100%;
}
img.h-auto {
  height: auto;
}
.btn:focus,
button:focus {
  outline: none;
  box-shadow: none;
}
.inactive-color,
.color-inactive,
.sidebar .inactive-color,
.sidebar .color-inactive {
  color: #8e9194;
}
svg {
  vertical-align: middle;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  font-size: 0.8125rem;
  color: #2a2824;
  border-left: 4px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dropdown-item span {
  vertical-align: middle;
}

.dropdown-item:hover,
.dropdown-item.active,
.dropdown-item:active {
  background: #f6f9fc;
  color: #fe628e;
  border-color: #fe628e;
}
.topic-link a{
  display: block;
  width: 100%;
  height: 100%;
  color: #f8f9fa!important;
  font-size: .99999rem;
}
@keyframes redYellowColor {
  0% {
    color: #f9061d;
    text-shadow: 0 0 1px #f9061d;
  }
  50% {
    color: #f5e80b;
  }
  100% {
    color: #f9061d;
    text-shadow: 0 0 1px #f9061d;
  }
}
.card-logo span{
  color:#d8c592;
  animation: redYellowColor .5s linear infinite;
  /* 其它浏览器兼容性前缀 */
  -webkit-animation: redYellowColor .5s linear infinite;
  -moz-animation: redYellowColor .5s linear infinite;
  -ms-animation: redYellowColor .5s linear infinite;
  -o-animation: redYellowColor .5s linear infinite;
}

@import './owl.carousel.css';
@import './owl.theme.jable.css';
@import './jable.css';
@import './video.css';
@import './btn.css';
@import './member.css';
@import './pagination.css';
@import './modal.css';
@import './form.css';
@import './padding.css';
@import './h1.css';
@import './container.css';
@import './agent.css';
