.t-view {
    width: calc(100% - 30px);
    margin: 0 auto;
    padding: 10px 15px;
    background: #fff;
    border-radius: 7px;
    margin-bottom: 15px;
}
.t-v-menu{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 27px;
    padding-left: 20px;
    padding-bottom: 7px;
    border-bottom: 1px solid #ddd;
}
.t-v-menu-item {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 13px;
    color: #444;
}
.t-v-menu-item img {
    width: 15px;
    height: 15px;
    margin-right: 1px;
}
.t-v-menu-item>p{
    margin-bottom: 0;
}
.t-v-menu-item>p>span{
    margin-left: 5px;
}
.u-img >img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.t-v-menu-item .u-img {
    width: 15px;
    height: 15px;
    margin-right: 1px;
}
.u-img {
    width: 320px;
    height: 240px;
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.u-img>div,.u-img>img {
    width: 100%;
    height: 100%;
}
.t-v-list-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 42px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
}
.t-v-list-col {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 14px;
    color: #444;
}
.t-v-jb{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.t-v-vip {
    width: 17px;
    height: 16px;
    margin-right: 7px;
}
.share-view {
    height: 325px;
    border-radius: 17px;
    width: calc(100% - 30px);
    margin: 0 auto;
    background: url('../public/img/share_view.492cc001.png') no-repeat;
    background-size: 100% auto;
    position: relative;
}
.tki-qrcode{
    position: relative;
}
.app_url {
    position: absolute;
    top: 21%;
    font-size: 14px;
    color: #999;
    width: 100%;
    text-align: center;
}
.code-view {
    width: 90%;
    height: 27%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 46%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.code-l {
    width: 50%;
}
.code-txt {
    text-align: center;
    font-size: 16px;
    color: #222;
    line-height: 22px;
}
.code-img {
    margin-top: 10px;
    text-align: center;
}
.tki-qrcode {
    position: relative;
}
.tki-qrcode-canvas {
    position: fixed;
    top: -49999px;
    left: -49999px;
    z-index: -99999;
}
uni-canvas {
    width: 300px;
    height: 150px;
    display: block;
    position: relative;
}
.code-r {
    width: 50%;
    padding-top: 6%;
}
.share-btn {
    display: block;
    background:#37507B;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 15px;
    width: 80%;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
}
.share-btn:last-child {
    background:#5E377B;
    margin-top: 22px;
}
.foot_url {
    font-size: 12px;
    color: #666;
    width: 71%;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 7px;
}
.list li{
    height: 100px;
    background-color:#fafafa;
    border-radius: 10px;
    border: 1px solid #d9dada;
    padding: 10px;
    margin-bottom: 10px;
}
.list li h4{
    font-size: 14px;
    height: 26px;
    color: #000000;
    border-bottom: 1px solid #eeeeee;
}
.list li p{
    font-size: 12px;
    margin: 10px 0;
}
.list li p .fl{
    color: #000000;
}
.list li .fr{
    color: #d0d0d0;
}
.tki-qrcode .u-img {
    width: 110px;
    height: 110px;
}
.tki-qrcode .u-img #codeImg{
    width: 100%;
}

main {
    font-size: 0.75rem;
}
.user-header{
    height: 70px;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 4px;
    padding: 0 10px;
    box-shadow: 0 0 2px #999
}
.user-img {
    width: 60px;
    height: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.img-file{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.main-wrap{
    padding: 10px;
}
.user-name {
    width: calc(100% - 75px);
    padding-left: 15px;
    font-size: 14px;
    color: #333;
}
.user-name p{
    margin: 0;
}
.v-info {
    font-size: 12px;
    color: #ff7830;
    margin-top: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.total {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    background: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 7px 12px;
    background: #fff;
    margin-top: 15px;
    border-radius: 5px;
}
.total-item{
    padding: 7px;
    width: calc(48% - 15px);
    border-radius: 5px;
    background: #fff;
}
.t-i-t {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 14px;
    color: #333;
    padding-bottom: 6px;
    border-bottom: 1px solid #f3f3f3;
}
.t-i-reload {
    font-size: 12px;
    margin-left: auto;
    color: #fd4e7d;
}
.total-main {
    margin-top: 5px;
}
.total-row {
    height: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font-size: 11px;
    color: #888;
}
.total-row-r{
    color: #444;
}
.total-row {
    height: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font-size: 11px;
    color: #888;
}
.tab-list {
    padding: 7px 12px;
    background: #fff;
    margin-top: 15px;
    border-radius: 5px;
}
.weui-navbar{
    height: 30px;
    font-size: 15px;
    font-weight: 400;
    color: #333;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
}
.tab-list .weui-navbar__item {
    display: inline-block;
    background-color: transparent;
    width: 50%;
    text-align: center;
    height: 100%;
    line-height: 30px;
    padding: 0;
}
.tab-list a:hover,.tab-list a:visited,.tab-list a:link,.tab-list a:active {
    outline-width: 0;
    color:#333;
}
.tab-list .weui-tab .weui-bar__item--on{
    color: #ff7830;
}
.tab-list .weui-navbar__item:after{
    display: none;
}
.tab-list .weui-bar__item--on span {
    display: inline-block;
    border-bottom: 3px solid #ff7830;
    color: #ff7830;
}
.weui-navbar:after {
    bottom: -2px;
    z-index: -1;
}
.img-file{
    background-image: url("../public/img/user_head.png");
    background-size: 100%;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix:after{
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.color-red{
    font-style: normal;
    color: red!important;
}
.color-gold{
    font-style: normal;
    color: #f8d070!important;
}
.load-more{
    display: block;
    color: #0D0D0D;
    text-align: center;
}
.wrapper{
    height:600px;
    overflow: hidden;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    list-style: none;
}
.gold-color{
    color: rgb(248, 112, 56);
}
#container{
    width: 100%;
}
.t-v-jb{
    background-image: url("../public/img/jingbi.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.t-v-vip{
    background-image: url("../public/img/vip.png");
    background-size: 100%;
    background-repeat: no-repeat;
}