
.btn {
  border: none;
  overflow: hidden
}

.btn-submit {
  background: #1db954;
  color: #fff;
  font-weight: 600;
  padding: .75rem;
  -webkit-box-shadow: 0 15px 30px rgba(0,0,0,.12);
  box-shadow: 0 15px 30px rgba(0,0,0,.12);
  margin-bottom: 1rem
}

.btn-submit:hover {
  background: #1ed760
}

.btn-action {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: 0 0;
  color: #b8babc;
  font-weight: 500;
  padding: 8px 16px
}

.btn-action.fav {
  background: rgba(138,128,255,.09);
  color: #fff;
  border-radius: 16px
}

.btn-action.fav svg {
  color: #ff8382
}

.btn-action.fav:hover {
  background: rgba(138,128,255,.12);
  -webkit-transform: scale(1.06);
  transform: scale(1.06)
}

.btn-action.fav.active {
  background: #ff6a88;
  color: #fff
}

.btn-action.fav.active svg {
  color: #fff
}

.btn-action.active,.btn-action:hover {
  color: #ff6a88
}