
form .error {
  background: #fcdee4!important
}

form .error label {
  color: #f4627f!important
}

form .required::after {
  color: #ea2c54;
  content: "*";
  font-size: 20px;
  position: absolute;
  right: 12px;
  top: 6px
}

.form-group-attached {
  margin-bottom: 1rem;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,.07);
  border-radius: 5px
}

.form-group-attached .form-group {
  margin-bottom: 0;
  border-radius: 0;
  overflow: hidden
}

.form-group-attached .form-group:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,.07)
}

.form-group {
  position: relative;
  background: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease
}

.form-group label {
  display: block;
  color: #b8babc;
  font-size: .75rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease
}

.form-group .form-control {
  background: 0 0;
  color: #252525;
  font-size: .875rem;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none
}

.form-group:focus-within {
  background: #f5f9fd
}

.form-group:focus-within label {
  color: #8b8d8f
}

.input-group {
  padding: 0
}

.input-group .input-group-item {
  position: relative;
  width: 1%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 8px 0 8px 12px
}

.form-group-attached {
  margin-bottom: 1rem;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,.07);
  border-radius: 5px
}

.form-group-attached .form-group {
  margin-bottom: 0;
  border-radius: 0;
  overflow: hidden
}

.form-group-attached .form-group:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,.07)
}

.form-group {
  position: relative;
  background: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease
}

.form-group label {
  display: block;
  color: #b8babc;
  font-size: .75rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease
}

.form-group .form-control {
  background: 0 0;
  color: #252525;
  font-size: .875rem;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none
}

.form-group:focus-within {
  background: #f5f9fd
}

.form-group:focus-within label {
  color: #8b8d8f
}

.input-group {
  padding: 0
}

.input-group .input-group-item {
  position: relative;
  width: 1%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 8px 0 8px 12px
}

.btn {
  border: none;
  overflow: hidden
}

.btn-submit {
  background: #1db954;
  color: #fff;
  font-weight: 600;
  padding: .75rem;
  -webkit-box-shadow: 0 15px 30px rgba(0,0,0,.12);
  box-shadow: 0 15px 30px rgba(0,0,0,.12);
  margin-bottom: 1rem
}

.btn-submit:hover {
  background: #1ed760
}

.btn-action {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: 0 0;
  color: #b8babc;
  font-weight: 500;
  padding: 8px 16px
}

.btn-action.fav {
  background: rgba(138,128,255,.09);
  color: #fff;
  border-radius: 16px
}

.btn-action.fav svg {
  color: #ff8382
}

.btn-action.fav:hover {
  background: rgba(138,128,255,.12);
  -webkit-transform: scale(1.06);
  transform: scale(1.06)
}

.btn-action.fav.active {
  background: #ff6a88;
  color: #fff
}

.btn-action.fav.active svg {
  color: #fff
}

.btn-action.active,.btn-action:hover {
  color: #ff6a88
}

.radio {
  margin-bottom: 1rem
}

.radio input {
  display: none
}

.radio input:checked+label::before {
  border-width: 5px;
  border-color: #008fff
}

.radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 1.5rem;
  margin-right: 1.25rem;
  line-height: 18px
}

.radio label:before {
  content: '';
  position: absolute;
  display: inline-block;
  background: #fff;
  width: 18px;
  height: 18px;
  left: 0;
  border: 1px solid #d7dcdf;
  border-radius: 100px;
  -webkit-transition: border .3s 0s cubic-bezier(.455,.03,.215,1.33);
  transition: border .3s 0s cubic-bezier(.455,.03,.215,1.33)
}

.switch-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
  pointer: cursor
}

.switch-group .input-switch {
  margin-left: auto
}

.input-switch {
  height: 26px
}

.input-switch input {
  display: none
}

.input-switch i {
  background: #fff;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-top: 2px;
  margin-left: 2px;
  border-radius: 100px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  pointer-events: none
}

.input-switch label {
  background-color: #e6e9ec;
  width: 50px;
  height: 26px;
  margin-bottom: 0;
  border-radius: 100px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.input-switch label:active {
  background-color: #a6b9cb
}

.input-switch label:active i {
  width: 28px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2)
}

.input-switch label:hover i {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  -webkit-transform: scale(1.01);
  transform: scale(1.01)
}

.input-switch input:checked+label {
  background-color: #008fff
}

.input-switch input:checked+label i {
  margin-left: 26px
}

.input-switch input:checked+label:active i {
  margin-left: 20px
}

.emoji-picker {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40px;
  border-radius: 0 5px 5px 0;
  cursor: pointer
}

.emoji-picker:hover {
  background: rgba(0,0,0,.08)
}

.emoji-picker svg {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 9px)
}

.emoji-dropdown {
  min-width: 6.8rem;
  max-width: 6.8rem;
  padding: .5rem
}

.emoji-dropdown img {
  margin: .3rem;
  cursor: pointer
}

.btn,button {
  font-size: 13px;
  position: relative;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease
}

.btn:focus,button:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none
}

.btn::before,.btn::after,button::before,button::after {
  border-radius: 3px
}

.rounded-btn {
  border-radius: 50px
}

.rounded-btn::before,.rounded-btn::after {
  border-radius: 50px
}

.btn.rounded-circle {
  border-radius: 50%
}

.btn.rounded-circle::before,.btn.rounded-circle::after {
  border-radius: 50%
}