h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #edeeef;
  font-family: roboto, microsoft jhenghei, sans-serif;
}

h1,
.h1 {
  font-size: 2.250625rem;
  font-weight: 700;
}

h2,
.h2 {
  font-size: 1.86875rem;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 1.37475rem;
  font-weight: 600;
}

h4,
.h4 {
  font-size: 1.1253125rem;
  font-weight: 600;
}

h5,
.h5 {
  font-size: 0.999375rem;
  font-weight: 500;
}

h6,
.h6 {
  font-size: 0.8750625rem;
  font-weight: 500;
}


@media(max-width: 768px) {
  .h1-md {
      font-size:2.250625rem;
      font-weight: 700
  }

  .h2-md {
      font-size: 1.86875rem;
      font-weight: 700
  }

  .h3-md {
      font-size: 1.37475rem;
      font-weight: 600
  }

  .h4-md {
      font-size: 1.1253125rem;
      font-weight: 600
  }

  .h5-md {
      font-size: .999375rem;
      font-weight: 500
  }

  .h6-md {
      font-size: .8750625rem;
      font-weight: 500
  }
}
