.pointer {
  cursor: pointer;
}

.overflow-h {
  overflow: hidden;
}

.avatar {
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 16px 0 rgba(17, 18, 20, 0.8);
  box-shadow: 2px 2px 16px 0 rgba(17, 18, 20, 0.8);
}

.separator {
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.active-color,
.color-active {
  color: #fe628e !important;
}

.inactive-color,
.color-inactive,
.sidebar .inactive-color,
.sidebar .color-inactive {
  color: #8e9194;
}

.inactive-color-two,
.color-inactive-two {
  color: #edeeef;
}

.active-color-2,
.color-active-2 {
  color: #91a5f4 !important;
}

.color-active-third,
.color-active-3 {
  color: #a49ac3 !important;
}

.color-pink {
  color: #ed145b !important;
}

/*  */

.title-box {
  margin-bottom: 1rem;
}

.title-box .sub-title {
  line-height: 1;
}
.title-with-more {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.title-with-more .more {
  margin-bottom: 1.5rem;
}

.title-with-more .more a {
  display: flex;
}

/*  */
.video-img-box .img-box {
  position: relative;
  margin-bottom: 13px;
  border-radius: 5px;
  overflow: hidden;
}

.video-img-box .img-box img,
.video-img-box .img-box video {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.video-img-box .img-box.cover-md a {
  display: block;
  background: #161a26;
  padding-bottom: 56.25%;
}

.video-img-box .img-box.cover-md img {
  position: absolute;
}

.video-img-box .img-box.cover-lg a {
  display: block;
  background: #161a26;
  padding-bottom: 67.25%;
}

.video-img-box .img-box.cover-lg img {
  position: absolute;
}

.video-img-box .img-box.cover-half a {
  display: block;
  background: #161a26;
  background-position: right;
  background-size: auto 100%;
  padding-bottom: 142%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.video-img-box .img-box.cover-half a:hover {
  background-position: right 9% top;
}

.video-img-box .img-box.rounded-lg {
  border-radius: 10px;
}

.video-img-box .img-box.removed img {
  -webkit-filter: blur(0.1rem);
  filter: blur(0.1rem);
  opacity: 0.6;
}

.video-img-box .img-box.removed video {
  display: none;
}

.video-img-box .img-box.removed .hover-state {
  display: none;
}

.video-img-box .img-box.removed .overlay {
  display: block !important;
}

.video-img-box .title {
  color: #b8babc;
  max-width: 320px;
  margin-bottom: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.video-img-box .title a {
  color: currentColor;
}

.video-img-box .sub-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #5e5d5a;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.8125rem;
  margin-bottom: 0;
}

.video-img-box .overlay {
  position: absolute;
  background: rgba(12, 12, 12, 0.33);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1;
}

.video-img-box .absolute-top {
  position: absolute;
  width: 100%;
  left: 0;
  top: 15px;
  text-align: center;
  z-index: 100;
}

.video-img-box .absolute-bottom {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 15px;
  text-align: center;
  z-index: 100;
}

.video-img-box .absolute-top-left {
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 100;
}

.video-img-box .absolute-top-right {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 100;
}

.video-img-box .absolute-bottom-left {
  position: absolute;
  left: 15px;
  bottom: 15px;
  z-index: 100;
}

.video-img-box .absolute-bottom-right {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 100;
}

.video-img-box .absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  white-space: nowrap;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
}

.video-img-box .blur {
  -webkit-filter: blur(0.1rem);
  filter: blur(0.1rem);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.video-img-box .hover-state {
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.video-img-box .hover-state.active {
  opacity: 1;
}

.video-img-box .ribbon-top-left {
  position: absolute;
  background: #f32b8e;
  font-size: 0.7475rem;
  color: #fff;
  text-align: center;
  top: -60px;
  left: -60px;
  height: 100px;
  width: 100px;
  line-height: 178px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  z-index: 100;
}

.video-img-box .ribbon-bottom-left {
  position: absolute;
  background: #4c2732;
  font-size: 0.7475rem;
  color: #fff;
  text-align: center;
  bottom: -60px;
  left: -60px;
  height: 100px;
  width: 100px;
  line-height: 22px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 100;
}

.video-img-box .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.18);
  color: #fff;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}

.video-img-box .action:hover {
  background: rgba(255, 106, 136, 0.8);
}

.video-img-box .action.active {
  background: rgba(255, 106, 136, 0.9);
}

.video-img-box .label {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 0.8125rem;
  padding: 0.3rem 0.5rem;
  line-height: 25px;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 8px 22px 0 rgba(0, 0, 0, 0.38);
  box-shadow: 0 8px 22px 0 rgba(0, 0, 0, 0.38);
}

.video-img-box:hover .overlay {
  background: rgba(80, 100, 110, 0.3);
}

.video-img-box:hover .title {
  color: #fe628e;
}

.video-img-box:hover .blur {
  -webkit-filter: none;
  filter: none;
}

.video-img-box:hover .hover-state {
  opacity: 1;
}

.video-img-box .ximg {
  position: relative;
  font-size: 0;
  line-height: 0;
}
.video-img-box .ximg > img {
  visibility: hidden;
}
.video-img-box .ximg .p {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}
.video-img-box .ximg .p img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  text-align: center;
}

/*  */
.horizontal-img-box .media {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.horizontal-img-box .detail {
  padding-left: 1rem;
}

.horizontal-img-box .title {
  color: #b8babc;
  margin-bottom: 5px;
}

.horizontal-img-box span {
  color: #5e5d5a;
}

.horizontal-img-box:hover .title {
  color: #fff;
}

/*  */

.card {
  border: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.card .with-icon-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 18rem;
  overflow: hidden;
}

.card .with-icon-title .icon-title {
  position: relative;
  background: rgba(55, 85, 190, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 4.5rem;
  width: 4.5rem;
  right: 1rem;
  bottom: 1rem;
  border-radius: 50%;
  -webkit-transform: scale(2.5);
  transform: scale(2.5);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.card .overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 0;
}

.card.bg-blue {
  background: linear-gradient(-45deg, #59ceff 0%, #6177ff 100%);
}

.card.bg-green {
  background: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
}

.card.bg-pink {
  background: linear-gradient(-45deg, #ff7e7e 0%, #ff536b 100%);
}

.card.bg-pink .icon-title {
  background: rgba(255, 255, 255, 0.1);
}

.card.bg-gray {
  background: linear-gradient(-45deg, #a6b5ca 0%, #8d93b1 100%);
}

.card:hover {
  -webkit-box-shadow: 0.5rem 0.5rem 0 rgba(36, 37, 45, 0.2);
  box-shadow: 0.5rem 0.5rem 0 rgba(36, 37, 45, 0.2);
  -webkit-transform: translate3d(-0.25rem, -0.25rem, 0) rotateZ(-1deg);
  transform: translate3d(-0.25rem, -0.25rem, 0) rotateZ(-1deg);
}

.card:hover .with-icon-title .icon-title {
  -webkit-transform: scale(2.8);
  transform: scale(2.8);
}
