
.left-aside {
  background: #07090e;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#000),to(#07090e));
  background-image: linear-gradient(to bottom,#000,#07090e);
  min-height: 100vh
}

.left-aside.menu {
  padding-top: 4rem
}

.left-aside:before {
  content: '';
  position: absolute;
  background: #07090e;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#000),to(#07090e));
  background-image: linear-gradient(to bottom,#000,#07090e);
  top: 0;
  bottom: 0;
  left: -3000px;
  right: 100%
}

.right-sidebar {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%
}


.title-with-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100px
}

.title-with-avatar .avatar {
  margin-right: 1rem;
  border-radius: 50%
}

.title-with-avatar .title-box {
  margin-bottom: 0
}

.title-with-avatar.center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center
}

.content-header {
  letter-spacing: .015rem;
  padding-top: 4.5rem;
  margin-bottom: 2.5rem
}

.content-header .gradient-bg {
  position: absolute;
  background-size: cover;
  background-position: center bottom;
  height: 285px;
  top: 0;
  width: 100%;
  z-index: -1
}

.content-header ul {
  padding-left: 0;
  margin-bottom: 0
}

.content-header li {
  display: inline-block;
  list-style: none
}

.content-header .sort-nav {
  padding-top: 2rem;
  text-align: center;
  margin-bottom: -.75rem
}

.content-header .sort-nav li {
  margin-bottom: .75rem
}

.content-header .sort-nav li>a {
  position: relative;
  padding: .5rem .75rem
}

.content-header .sort-nav li>a:before {
  content: '';
  position: absolute;
  background: #1db954;
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 30px;
  margin-left: -15px;
  opacity: 0;
  border-radius: 100px;
  -webkit-transition: all .3s;
  transition: all .3s
}

.content-header .sort-nav li.active>a,.content-header .sort-nav li:hover>a {
  color: #fff
}

.content-header .sort-nav li.active>a::before,.content-header .sort-nav li:hover>a::before {
  opacity: 1
}

.content-header .profile-info {
  margin-bottom: 2rem
}

.content-header .profile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.content-header .profile-nav li .count {
  color: #8e9194;
  font-size: .8125rem;
  margin-left: .75rem
}

.content-header .profile-nav li>a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .75rem 0
}

.content-header .profile-nav li>a:before {
  content: '';
  position: absolute;
  background: #1db954;
  left: 0;
  bottom: 0;
  height: .15rem;
  width: 100%;
  opacity: 0;
  border-radius: 100px;
  -webkit-transition: all .3s;
  transition: all .3s
}

.content-header .profile-nav li.active>a,.content-header .profile-nav li:hover>a {
  color: #fff
}

.content-header .profile-nav li.active>a::before,.content-header .profile-nav li:hover>a::before {
  opacity: 1
}

.content-header .profile-nav li:not(:last-child) {
  margin-right: 1.25rem
}

.content-header .profile-nav .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
