.owl-theme-jable .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme-jable .owl-nav [class*='owl-'] {
  color: #666;
  font-size: 14px;
  margin: 5px;
  padding: 8px 7px;
  background: 0 0;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme-jable .owl-nav [class*='owl-']:hover {
  background: #000;
  color: #fff;
  text-decoration: none;
}

.owl-theme-jable .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme-jable.stage-margin-0 .owl-stage-outer {
  margin-bottom: 0;
}

.owl-theme-jable .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme-jable .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme-jable .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  margin: 5px 7px;
  background: #ddd;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
  transition: all 0.3s;
}

.owl-theme-jable .owl-dots .owl-dot.active span,
.owl-theme-jable .owl-dots .owl-dot:hover span {
  background: linear-gradient(135deg, #91a5f4 0%, #b08cf9 86%);
}

.owl-theme-jable .owl-dots .owl-dot.active span {
  width: 38px;
}

@media (min-width: 992px) {
  .owl-theme-jable .owl-nav [class*='owl-'] {
    transition: all 0.3s;
  }
}
