.pagination {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: .5rem;
  margin-bottom: 0
}

.page-link {
  color: inherit;
  background-color: transparent;
  border: none;
  padding: .2rem .5rem;
  margin: 0 .25rem;
  border-radius: 5px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease
}

.page-link.active {
  background-color: #fe628e;
  color: #fff
}

.page-link:hover:not(.active) {
  color: #fff;
  background-color: transparent
}

.page-link:focus {
  -webkit-box-shadow: none;
  box-shadow: none
}