
.toast {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  color: #2a2824;
  padding: .75rem 1.25rem;
  border-radius: .25rem;
  -webkit-box-shadow: 0 4px 12px rgba(0,0,0,.15);
  box-shadow: 0 4px 12px rgba(0,0,0,.15);
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  opacity: 0;
  -webkit-transition: all .4s cubic-bezier(.215,.61,.355,1);
  transition: all .4s cubic-bezier(.215,.61,.355,1);
  z-index: 9999
}

.toast svg {
  margin-right: .75rem
}

.toast.on {
  opacity: 1
}

.toast.toast-close {
  opacity: .5;
  padding: 0 .25rem
}

.toast.toast-right {
  right: 15px
}

.toast.toast-left {
  left: 15px
}

.toast.toast-top {
  top: -150px
}

.toast.toast-bottom {
  bottom: -150px
}

.toast.toast-success {
  border-left: 3px solid #6ec05f
}

.toast.toast-info {
  border-left: 3px solid #1271ec
}

.toast.toast-warn {
  border-left: 3px solid #fed953
}

.toast.toast-error {
  border-left: 3px solid #d70a32
}

.toast.toast-center {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content
}

@media only screen and (max-width: 360px) {
  .toast.toast-left,.toast.toast-right {
      margin-left:auto;
      margin-right: auto;
      left: 0;
      right: 0;
      max-width: -webkit-fit-content;
      max-width: -moz-fit-content;
      max-width: fit-content
  }
}