
.video-info .info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: .5rem
}

.video-info .info-header .header-left {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.video-info .info-header .header-left h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #8e9194;
  margin-bottom: 0
}

.video-info .info-header .header-right {
  margin-left: 1rem;
  text-align: right
}

.video-info .models {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex
}

.video-info .models .model {
  width: 1.5rem;
  height: 1.5rem
}

.video-info .models .model:hover {
  z-index: 1
}

.video-info .models .model:nth-child(3n) .placeholder {
  background: #ff8382
}

.video-info .models .model+.model {
  margin-left: -.2rem
}

.video-info .models .placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #687ae8;
  color: #fff;
  font-size: .8125rem;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 2px 2px 16px 0 rgba(17,18,20,.8);
  box-shadow: 2px 2px 16px 0 rgba(17,18,20,.8)
}

.video-info .desc {
  padding: .5rem 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  border-left: 4px solid #ff8382
}

.video-info .tags a {
  display: inline-block;
  margin-right: .5rem;
  margin-bottom: .5rem
}

.video-info .tags a:before {
  content: '#';
  color: #6190c9;
  font-size: 12px;
  font-weight: 400;
  margin-right: 1px
}

.video-info .tags a.cat::before {
  content: '//';
  color: #ff8382
}

.comments .new-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 1rem;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.comments .new-comment .form-group {
  background: #191d28;
  margin: 0;
  padding: 0;
  border-radius: 5px
}

.comments .new-comment .form-group:before {
  position: absolute;
  content: '';
  background: #191d28;
  right: 100%;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(-45deg) translateY(1rem);
  transform: rotate(-45deg) translateY(1rem);
  border-radius: .2rem;
  z-index: -1
}

.comments .new-comment .form-group.error {
  background: #b74a48!important;
  color: #fff
}

.comments .new-comment .form-group.error:before {
  background: #b74a48!important
}

.comments .new-comment .info {
  padding: .75rem 1rem
}

.comments .new-comment .info a {
  color: #fff
}

.comments .new-comment input {
  background: 0 0;
  color: #fff;
  width: 100%;
  height: 40px;
  padding: 0 2.5rem 0 1rem;
  border: none;
  outline: none
}

.comments .avatar {
  border-radius: 50%
}

.comments .right {
  width: 100%;
  margin-left: 1.5rem
}

.comments .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 1rem
}

.comments .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: .5rem
}

.comments p img {
  padding: 0 .1rem;
  vertical-align: sub
}

@media(min-width: 768px) {
  .video-info .info-header .header-left h6 {
      -webkit-box-pack:left!important;
      -ms-flex-pack: left!important;
      justify-content: left!important
  }
}

.right-sidebar {
  flex: 0 0 100%;
}

@media (min-width: 992px) {
  .right-sidebar {
    max-width: 330px;
  }

  .right-sidebar .video-img-box {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    margin-bottom: 10px !important;
  }

  .right-sidebar .video-img-box .img-box {
    min-width: 50%;
    max-width: 50%;
  }

  .right-sidebar .video-img-box .detail {
    padding-top: 8px;
    padding-left: 15px;
  }

  .right-sidebar .video-img-box .title {
    white-space: normal;
    max-height: 2.8em;
    line-height: 1.5;
  }

  .comments .new-comment {
    width: 70% !important;
  }
}

