.root {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: #fff;
  background-color: rgba(17, 21, 32, 0.98);
  z-index: 999;
}
.title {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;
  margin-bottom: 0.3rem !important;
}
.sub-title {
  font-size: 0.8rem;
  line-height: 0.8rem;
}
.btn {
  border-radius: 2rem;
  padding: 0;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
}
